
.services{
    width:100%;
    background-color: var(--background-grey);
    text-align: center;
    padding: 154px 40px 160px 40px;

}
.services h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.services span{
    color: var(--logo-color);
}

.services p {
    font-size: 1.0456rem;
    line-height: 1.75rem;
}

.cardservice{
    width: 100%;
     display: grid;
     gap:1rem;
     grid-template-columns:repeat(4, 1fr) ;
     
}

@media(max-width: 768px) {
    .cardservice{
        grid-template-columns:repeat(2, 1fr) ;

    }
}


@media(max-width: 390px) {
    .cardservice{
        grid-template-columns:repeat(1, 1fr) ;

    }

.services{
    padding: 9.625rem .5rem 10rem .5rem;
}

}