.testimonals{
    width:100%;
    text-align: center;
    padding:154px 40px 160px 40px;
    background-color: #3f5e5c;

}

.testimonals h1{
    font-size:3rem;
    line-height:3rem ;
    margin-bottom:5.625rem ;

}

.testimonals span{
    color: var(--color-color);
}


.embla{
  overflow: hidden;
}


.embla_container{
  display: flex;
}

  .arrow{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
    color:var(--color-color)
  }


 @media (max-width:24.375rem){
  .testimonals{
    width:100%;
    padding:160px 16px 160px 16px;
}

 }