@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-black: #0A0908;
  --background-grey:#1A1A1A;
  --background-lightgrey: #222222;
  --logo-color:#2c5f61;
  --logo-text:rgb(168, 153, 66);
  --button-color:#3f5e5c;
  --hover-color: hsl(162, 46%, 39%);
  --color-color: #A9927D;

}


html , body {
  scroll-behavior: smooth;
  color:white;
  overflow-x: hidden;

}

