
 .contactUs{
    width: 100%;
    background-color: var( --background-grey);
    padding: 9.625rem 9.1875rem 10rem 9.1875rem;
    text-align: center;
  }
  
  .contactUs h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 18px;
    color:var(--button-color);
  }
  
  .contactUs span{
    color: var(--color-color);
  }
  
  .contactUs p{
    font-size: 1.0456rem;
    line-height: 1.75rem;
    margin-bottom: 6rem;
    color: var(--color-color);
  }
  
  .contactUsBottomDiv{
    margin: auto;
    width: 100%;
    display: flex;
    gap: 120px;
  }
  
  .contactLeftDiv{
    width: 300px;
    display: flex;
    gap: 48px;
    flex-direction: column;
  }
  
  .contactLeftDivText{
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: start;
  }
  
  .contactLeftDivText :nth-child(2){
    color: #616161;
  }
  
  .contactLeftDivText :nth-child(3){
    color: var(--color-color);
  }
  
  .contactLeftDivContainer{
    display: flex;
    gap: 16px;
  }
  
  .contactRightDiv{
    width: 650px;
    
  }
  
  .contactRightDiv form{
    width: 100%;
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  
  .topInputDiv{
    width: 100%;
    display: flex;
    gap: 8px;
  }
  
  .topInputDiv input{
    width: 320px;
  }
  
  .inputDetails{
    padding: 15px 0 15px 12px;
    font-size: 15px;
    background-color: #333333;
    border-radius: 8px;
  }
  
  .inputBtn{
    background-color: var(--color-color);
    color:black;
    width: 178px;
    height: 52px;
    border-radius: 8px;
    cursor: pointer;
  
    &:hover{
      background-color: var(--hover-color);
    }
  }




@media(max-width:768px){


    .contactUs{
       
        padding: 10rem 2rem 10rem 2rem;
        
      }
    .contactUsBottomDiv{
        flex-direction: column;
        gap:120px
    }
}


@media(max-width:390px){

    .contactRightDiv
    {
        width: 100%; 
      }

      .topInputDiv
      {
       
        flex-direction: column;
        gap: 25px;
      }
      
}






